</body>

<!--===============================================================================================-->
<script src="stylesheets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="stylesheets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="stylesheets/vendor/bootstrap/js/popper.js"></script>
	<script src="stylesheets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="stylesheets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="stylesheets/vendor/daterangepicker/moment.min.js"></script>
	<script src="stylesheets/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="stylesheets/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="stylesheets/js/main.js"></script>
</html>
