</body>
<div class="flex-col-c p-t-100">
	<span class="txt1 p-b-25" style="color: rgb(17, 17, 17);">
		Made by "Abushanum"
	</span>
</div>


<!--===============================================================================================-->

	<script src="/stylesheets/vendor/bootstrap/js/popper.js"></script>
	<script src="/stylesheets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->

	<script src="/stylesheets/js/main.js"></script>
</html>
