<%- include("../partials/sidebar") %>
<div class="col-9">
    <br>
    <h2 class="text-center"> Activity <small class="text-muted">#</small> </h2>
    <p class="h5 mb-4 text center-dark">#<%= result.projectid %> <%= result.name %></p>
    <br>
    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text"></p>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>

    <div class="flex-col-c p-t-100">
        <span class="txt1 p-b-25" style="color: #fff;">
            Made by "Abushanum"
        </span>
    </div>
</div>
<%- include("../partials/footer") %>