<%- include("../partials/navbar") %>

<body>
    <div class="container-fluid">
        <br>
        <h2>Add Users</h2>
        <hr>
        <form method="post">
            <div class="container">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">
                        ID
                    </label>
                    <div class="row col-sm-6">
                        <input class="form-control" type="text" id="userid" name="userid" placeholder="user id" />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">
                        Email
                    </label>
                    <div class="row col-sm-6">
                        <input class="form-control" type="text" id="email" name="email" placeholder="@Email" />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">
                        Password
                    </label>
                    <div class="row col-sm-6">
                        <input class="form-control" type="text" id="password" name="password" placeholder="Password" />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">
                        First Name
                    </label>
                    <div class="row col-sm-6">
                        <input class="form-control" type="text" id="firstname" name="firstname"
                            placeholder="Firs Name" />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">
                        Last Name
                    </label>
                    <div class="row col-sm-6">
                        <input class="form-control" type="text" id="lastname" name="lastname" placeholder="Last Name" />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="form-group row">
                    <div class="col-sm-10">

                        <a class="btn" type="submit" style="background-color: #751a52; color: #fff;" href="/users"
                            role="button">Add</a>
                        <a class="btn btn-info" href="/users" role="button">Back</a>
                    </div>
                </div>
            </div>
    </div>
    <div class="flex-col-c p-t-100">
        <span class="txt1 p-b-25" style="color: #fff;">
            Made by "Abushanum"
        </span>
    </div>
    <%- include("../partials/footer") %>